<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 公路赔（补）偿案件管理文书送达回证 }}
	<pdf:paper width="595.276" height="841.89" fontName="SimSun" fontSize="10.5" offset="0,5" />
	<pdf:content>
		<pdf:text point="40.5,22.5" fontName="SimHei" fontSize="20.5">公路赔（补）偿案件管理文书送达回证</pdf:text>
		<pdf:text point="124,35">案件（</pdf:text>
		<pdf:text point="140,35" static="NO">{{ case.mark2  }}</pdf:text>
		<pdf:text point="150,35">）年（</pdf:text>
		<pdf:text point="161,35" static="NO">{{ case.mark3 }}</pdf:text>
		<pdf:text point="177,35">）号</pdf:text>
		<pdf:table rect="{21,39.5},{164,206}" borderWidth="1.0" lineWidth="0.5" padding="1">
			<pdf:tr height="13">
				<pdf:td width="164">
					<pdf:text point="mid-left:2,6">受送达人：</pdf:text>
					<pdf:text point="mid-left:24,10" static="NO">{{ recipient }}</pdf:text>
				</pdf:td>
			</pdf:tr>
			<pdf:tr height="13">
				<pdf:td width="164">
					<pdf:text point="mid-left:2,6">案由：</pdf:text>
					<pdf:text point="mid-left:15,10" static="NO">{{ caseSummary }}</pdf:text>
				</pdf:td>
			</pdf:tr>
			<pdf:tr height="13">
				<pdf:td width="164">
					<pdf:text point="mid-left:2,6">送达单位：</pdf:text>
					<pdf:text point="mid-left:24,10" static="NO">{{ serviceUnit }}</pdf:text>
				</pdf:td>
			</pdf:tr>
			<pdf:tr height="13">
				<pdf:td width="164">
					<pdf:text point="mid-left:2,6">送达地点：</pdf:text>
					<pdf:text point="mid-left:24,9" static="NO">{{ addressForService }}</pdf:text>
				</pdf:td>
			</pdf:tr>
			<pdf:tr height="13">
				<pdf:td width="48">送达文书名称</pdf:td>
				<pdf:td width="35">送达人</pdf:td>
				<pdf:td width="35">收到日期</pdf:td>
				<pdf:td width="46">收件人签章</pdf:td>
			</pdf:tr>
			{{#items}} {{! 传入的items必须有3项 }}
			<pdf:tr height="13">
				<pdf:td width="48" textAlignment="center" static="NO">{{ .docName }}</pdf:td>
				<pdf:td width="35"></pdf:td>
				<pdf:td width="35"></pdf:td>
				<pdf:td width="46"></pdf:td>
			</pdf:tr>
			{{/items}}
			<pdf:tr height="102">
				<pdf:td width="164">
					<pdf:text point="2,2">备注:</pdf:text>
					<pdf:paragraph rect="{2,8},{160,103}" lineHeight="6" static="NO">{{ comment }}</pdf:paragraph>
				</pdf:td>
			</pdf:tr>
		</pdf:table>
        <pdf:paragraph rect="{23,247},{160,30}" lineHeight="5">
            注：1、如送达人不在场的，可交其同住的成年家属，并在备注栏内写明与受送达人关系；\n    2、受送达人已指定代收人的，交代收人签收；\n    3、受送达人拒收的，应邀有关基层组织代表或其他人到场，在备注中写明拒收事由\n       及有关情况，并将文书留置，视为已送达
        </pdf:paragraph>
	</pdf:content>
</pdf:template>